@import url('/static/fonts/Lato.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;

    /* Background source: https://images8.alphacoders.com/134/1348876.jpeg */
    background-image: url('/static/images/venti.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #7d7d89;

    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: pink;
}

.container {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(4px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid black;
}

.header > a {
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 14px;
}

.header h1 {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    margin: 0 4px;
    vertical-align: middle;
}

.fullwidth {
    width: 100%;
}

.line {
    border-bottom: 1px solid black;
}

.mark {
    background-color: #656b0e;
}

.main {
    min-height: 50vh;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid black;
}

.main > table {
    width: 100%;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.main > table a {
    display: block;
    text-decoration: none;
}

td:last-child a {
    display: inline;
}

.main > table a:hover {
    background-color: rgb(0 0 0 / 20%);
}

.footer {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    color: pink;
}

.footer:after {
    content: 'Theme by Olek47';
    display: block;
}

button,
select,
input[type=text],
input[type=password] {
	width: 100%;
	display: block;
	margin: 8px 0;
	padding: 8px;
	border: 1px solid #000;
	font-size: 16px;
	color: #fff;
	outline: none;
    background:rgb(0 0 0 / 20%);
}

button {
	cursor: pointer
}

button:hover {
	background: rgb(0 0 0 / 10%);
	color: pink
}

.dialog-content {
	background: rgb(0 0 0 / 10%);
	border: 1px solid black;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}

iframe {
	border: none;
    margin: 1px;
    width: 100%;
}

.markdown img {
	max-width: 100%;
}

@media only screen and (max-width: 640px) {
    .hide {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .hide-more {
        display: none;
    }
}
