# File extensions to show the details page for
extensions = ["exe", "cab", "appx", "xap", "appxbundle", "zip", "7z", "apk", "rar"]
# File and directory names that will be hidden on any directory listing
hidden_files = ["uploads", "robots.txt", "favicon.ico", "RESTRICTED", "metadata", "HIDDEN"]
# Enable login functionality (disable to run with no database)
enable_login = true
# Enable /api
enable_api = true
# Text to show as the MARMAK link, comment out to hide
marmak_link = "MARMAK"
# Instance info to show in footer, leave empty to hide
instance_info = "My Mirror instance!"
# X-Send-File header to handle file serving
x_sendfile_header = "X-Send-File"
# X-Send-File header path prefix (needed for Apache2 configuration)
x_sendfile_prefix = "/opt/mirror/"
# Standalone mode (for use without a reverse proxy)
standalone = false
# Fallback root domain (when using custom DNS or hosting on an apex domain)
fallback_root_domain = "marmak.net.pl"
# Enable file database (download files by ID, download counting)
enable_file_db = true
# Enable ZIP downloads for all folders
enable_zip_downloads = false
# Max-Age for Cache-Control header
max_age = 86400
# Max-Age for the Cache-Control header for static files
static_max_age = 604800
# JSON Web Token secret key
jwt_secret = "secure-secret-key-thats-definitely-not-it"
# Enable LinkShortener integration
linkshortener = true
# LinkShortener API URL
linkshortener_url = "https://short.marmak.net.pl/api/url"
# Maximum file sizes for a singular upload
[max_upload_sizes]
"0" = 5000000000 # Administrators (5GB)
"1" = 500000000 # Regular users (500MB)
"2" = 1000000000 # "Extra Storage" users (1GB)
# Private folder quotas (don't allow storing more than this)
[private_folder_quotas]
"0" = 0 # Administrators (Unlimited)
"1" = 2000000000 # Regular users (2GB)
"2" = 50000000000 # "Extra Storage" users (50GB)