[default]
port = 2115
ident = "Mirror"

[default.limits]
data-form = "100 MB"
file = "100 MB"

# prod databases

[release.databases.marmak]
url = "mysql://mirror:12345678@localhost:3306/marmak"

[release.databases.mirror]
url = "mysql://mirror:12345678@localhost:3306/mirror"

# dev databases

[debug.databases.marmak]
url = "mysql://mirror:12345678@localhost:3306/marmak"

[debug.databases.mirror]
url = "mysql://mirror:12345678@localhost:3306/mirror"
