{% extends "base" %}

{% block content %}
            <div class="controls">
                <span class="title">
                    <a href="/">MARMAK Mirror</a><span class="breadcrumbs">/HTTP 400</span>
                </span>
            </div>
            {{ strings.error_400 }}
{% endblock content %}