{% extends "base" %}

{% block content %}
            <div class="controls">
                <div class="title">
                    <a href="/">MARMAK Mirror</a><span class="breadcrumbs">/HTTP 404</span>
                </div>
            </div>
            {{ strings.error_404 }}
{% endblock content %}