{% extends "base" %}

{% block content %}
            <div class="controls">
                <div class="title">
                    <a href="/">MARMAK Mirror</a><span class="breadcrumbs">/HTTP 413</span>
                </div>
            </div>
            {{ strings.file_too_big }}
{% endblock content %}