{% extends "base" %}

{% block content %}
            <div class="controls">
                <span class="title">
                    <a href="/">MARMAK Mirror</a><span class="breadcrumbs">/HTTP 507</span>
                </span>
            </div>
            {{ strings.not_enough_space }}
{% endblock content %}