{% extends "base" %}

{% block content %}
            <div class="controls">
                <div class="title">
                    <a href="/">MARMAK Mirror</a><span class="breadcrumbs">/<a href="/private/">private</a>/</span>
                </div>
            </div>
            {{ strings.private_folder }}
{% endblock content %}