{% extends "plain/base" %}

{% block content %}
<div>
    <span>
        {{ strings.reading_markdown }} <span>
            {{ macros::breadcrumbs(path=path) }}
        </span>
    </span>
    &nbsp;
    <a href="?download" download>{{ strings.download }}</a><br>
</div>
<hr>
<a href="./">./</a>
{{ markdown }}
{% endblock content %}