{% extends "plain/base" %}

{% block content %}
<div>
    {% filter spaceless %}
    <span>
        {{ strings.viewing_zip }} <span>
            {{ macros::breadcrumbs(path=path) }}
        </span>
    </span>
    &nbsp;
    <a href="?download" download>{{ strings.download }}</a><br>
</div>
<hr>
<a href="./">./</a><br>
{% for s in files %}
{{ s.name }}<br>
{% endfor %}
{% endblock content %}