@import url("/static/fonts/Roboto.css");

body {
    margin: 0;
    background-color: #000;
    color: white;
    font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

a {
    color: white;
    transition: all ease-in-out 0.1s;
}

a:hover {
    color: #efbf04;
}

a span {
    white-space: pre;
}

.container {
    max-width: 820px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

.icon {
    width: 1em;
    height: 1em;
    margin: 2px 4px -2px 0px;
}

.fullwidth {
    width: 100%;
}

.header h1 {
    margin: 10px 0;
}

div.line {
    border-bottom: 1px solid #ffffff;
    width: 100%;
}

.mark {
    background-color: #eeff00;
}

.footer {
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    overflow-wrap: anywhere;
}

th {
    text-align: center;
}

input.text,
input.submit,
select,
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    margin: 5px 0;
    background: #efc00400;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
}
select option {
    margin: 40px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
button:hover {
    background: #efbf04;
    color: #fff;
    transform: scale(0.98);
}

progress {
    width: 100%;
    color: #efbf04;
    accent-color: #ebca48;
}

form {
    margin-top: 10px;
}

label input {
    width: auto;
}

.dialog-content {
    background: #e4d9af;
    border: 1px solid #efbf04;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 4px;
}

iframe {
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.seg {
    opacity: 0;
    font-size: 0.1px;
}

.markdown img {
    max-width: 100%;
}

.actions {
    float: right;
}

.audio-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-details {
    flex: 1;
}

.audio-metadata #cover {
    width: 30%;
    max-height: 100%;
}

#track, #title {
    font-size: 24px;
    font-weight: bold;
}

#album, #year, #genre {
    font-weight: bold;
}

@media only screen and (max-width: 640px) {
    .hide {
        display: none;
    }

    .dialog-content {
        width: auto !important;
    }
}

@media only screen and (max-width: 300px) {
    .hide-more {
        display: none;
    }
}
