@import url("/static/fonts/Rubik.css");

body {
    margin: 0;
    background: #000000;
    color: white;
    font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color-scheme: dark;
    overflow-y: scroll;
}

.icon {
    width: 1em;
    height: 1em;
    margin: 2px 4px -2px 0px;
}

.header {
    margin: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 10px 0;
}

.main {
    width: 90vw;
    max-width: 800px;
    margin: 10px auto;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: 1px solid #303030;
}

a {
    color: #32a852;
    text-decoration: none;
    transition: all ease-in-out 0.1s;
}

a:hover {
    color: #2a7a38;
}

a span {
    white-space: pre;
}

input,
select,
button {
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #303030;
    border-radius: 4px;
    background: #000;
    color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    box-sizing: content-box;
}

button {
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
    background-color: #000;
    box-sizing: border-box;
    margin-top: 10px;
}

button:hover {
    background-color: #2a7a38;
    transform: scale(0.98);
}

table {
    width: 100%;
    margin-bottom: 4px;
    border-radius: 8px;
    border-collapse: collapse;
}

td {
    color: #aaaaaa;
}

td:first-child {
    color: #32a852;
}

tr a {
    display: block;
    overflow-wrap: anywhere;
}

thead tr a {
    display: inline-block;
}

tr:hover {
    background-color: #21252a;
}

tbody tr td:last-child {
    text-align: right;
}

tbody tr td:last-child a {
    display: inline;
}

.footer {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    color: #aaaaaa;
    border-top: 1px solid #303030;
    padding: 10px;
}

progress {
    width: 100%;
    color: #32a852;
    accent-color: #32a852;
}

.dialog-content {
    background: #000;
    border: 1px solid #32a852;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
}

iframe {
    border: none;
    box-sizing: border-box;
    width: 100%;
}

td input {
    margin: auto;
    width: auto;
}

.seg {
    opacity: 0;
    font-size: 0.1px;
}

.markdown img {
    max-width: 100%;
}

.actions {
    float: right;
}

@media only screen and (max-width: 640px) {
    .hide {
        display: none;
    }

    .dialog-content {
        width: auto !important;
    }
}

@media only screen and (max-width: 300px) {
    .hide-more {
        display: none;
    }
}
