@import url("/static/fonts/Rubik.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;

    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.5;

    /* Background source: https://images8.alphacoders.com/134/1348876.jpeg */
    background-image: url("/static/images/venti.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #7d7d89;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: pink;
}

.container {
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.header > a {
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5em;
}

.header > a:hover {
    background-color: rgb(0 0 0 / 20%);
}

.header > a:has(h1) {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    vertical-align: middle;
}

.fullwidth {
    width: 100%;
}

.line {
    border-bottom: 1px solid black;
}

.mark {
    background-color: #656b0e;
}

.main {
    flex-grow: 1;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
}

table {
    width: 100%;
    font-size: 1.125rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table a {
    text-decoration: none;
}

tbody a {
    display: block;
}

tbody td:last-child > a {
    display: inline;
}

tr:hover {
    background-color: rgb(0 0 0 / 20%);
}

.footer {
    margin-top: 1rem;
    padding: 0.25rem;
    border: 1px solid black;
    text-align: center;
    color: pink;
}

.footer::after {
    content: "Theme by Olek47";
    display: block;
}

button,
select,
input[type="text"],
input[type="password"] {
    width: 100%;
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: inherit;
    outline: none;
    border: 1px solid black;
    color: #fff;
    background: rgb(0 0 0 / 20%);
}

button {
    cursor: pointer;
}

button:hover {
    background: rgb(0 0 0 / 10%);
    color: pink;
}

.dialog-content {
    background: rgb(0 0 0 / 10%);
    border: 1px solid black;
    margin: 10% auto;
    padding: 1rem;
    width: 50%;
    text-align: center;
}

iframe {
    border: 1px solid black;
    margin: 1px;
    width: 100%;
}

.actions {
    float: right;
}

.audio-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-details {
    flex: 1;
}

.audio-metadata #cover {
    width: 30%;
    max-height: 100%;
}

@media only screen and (max-width: 640px) {
    .hide {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .hide-more {
        display: none;
    }
}
